section > header {
  background-color: $color-main;
  height: $gutter-size;
  line-height: $gutter-size;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  width: 4 * $gutter-size;

  position: absolute;
  top: -$gutter-size;
  left: $gutter-size;  

  @include respond-to(small) {
    width: 2 * $gutter-size;
  }
}

section > .expander,
article > .expander {
  outline: 0;
  position: absolute;
  right: $gutter-size;
  bottom: -$gutter-size;

  background-color: $color-main;
  border: none;
  color: $color-secondary;
  line-height: $gutter-size;
  height: $gutter-size;
  width: $gutter-size;

  .d4zed-icon-close {
    display: none;
  }

  .d4zed-icon-expand {
    display: block;
  }
}

article > .expander {
  display: none;
}

.expanded {
  .expander {
    .d4zed-icon-close {
      display: block;
    }

    .d4zed-icon-expand {
      display: none;
    }
  }
}

@include respond-to(small) {
  #work > header, #contacts > header {
    width: 3 * $gutter-size;
  }

  article > .expander {
    display: block;
  }
}

#about, #news, #contacts {
  background-color: $color-secondary;
  border: 2px solid $color-main;
  height: 5 * $gutter-size + 2px;
  float: left;
  margin-bottom: 3 * $gutter-size - 2px;
  padding: 0;
  position: relative;

  @include respond-to(small) {
    width: 100%;
  }

  > .wrapper {
    @include custom-transition(background-color);

    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
  }

  p {
    @include custom-transition(color);

    color: $color-main;
    font-size: 14px;
    line-height: 1.5;
    padding: $gutter-size;

    @include respond-to(small) {
      font-size: 14px;
    }
  }
}

#about > .wrapper:hover,
#news  > .wrapper:hover {
  background-color: $color-main;

  p {
    color: $color-secondary;
  }
}

#about {
  margin-right: $gutter-size - 2px;

  transition: height .2s ease-in-out;

  p {
    padding-bottom: 0;
    opacity: 0;
    transition: opacity .2s ease-in-out;

    &:first-child {
      opacity: 1;
    }
  }

  &.expanded {
    p {
      opacity: 1;
    }
  }
}

#contacts {
  height: 4 * $gutter-size + 2px;
  padding: $gutter-size;
}

#news {
  @include respond-to(small) {
    height: 14 * $gutter-size + 2;
  }

  .container {
    position: absolute;
    height: 100%;
    left: 0;
    width: 100000%;

    transition: left .2s ease-in-out;
  }

  article {
    color: $color-main;
    float: left;
    height: 100%;
    width: 16 * $gutter-size;

    > * {
      float: left;
    }

    .cover {
      background-size: cover;
      background-position: center;
      height: 9 * $gutter-size;
      width: 5 * $gutter-size;

      @include respond-to(small) {
        width: 100%;
      }
    }

    p {
      padding: $gutter-size;
      width: calc(100% - 5 * 35px);

      @include respond-to(small) {
        width: 100%;
      }
    }
  }

  &.expanded {
    .cover {
      width: 100%;
    }
  }

  .date, .buttons {
    background-color: $color-main;
    height: $gutter-size;
    line-height: $gutter-size;

    position: absolute;
    top: 100%;
  }

  .date {
    right: 3 * $gutter-size - 2;
    text-align: center;
    width: 3 * $gutter-size;

    @include respond-to(small) {
      left: $gutter-size - 2;
    }
  }

  .buttons {
    right: $gutter-size - 2;
    width: 2 * $gutter-size;

    button.inactive {
      cursor: default;

      i {
        opacity: .5;
      }
    }
  }

  button {
    float: left;
    height: 100%;
    line-height: $gutter-size;
    outline: 0;
    width: $gutter-size;
  }
}