footer {
  margin-top: 2 * $gutter-size;
  height: 4 * $gutter-size;
  width: 100%;

  #contacts {
    color: $color-main;
    float: left;
    width: 24 * $gutter-size + 2;

    header {
      color: $color-secondary;
    }

    .column {
      float: left;
      font-size: 16px;
      line-height: 1.5;
      margin-right: $gutter-size;
      width: 7 * $gutter-size;

      &:last-child {
        margin-right: 0;
        width: 5 * $gutter-size;
      }
    }
  }

  .social {
    float: right;
  }

  .facebook,
  .twitter {
    background-color: $color-main;
    height: 2 * $gutter-size;
    float: left;
    font-size: 16px;
    margin-top: $gutter-size;
    margin-right: $gutter-size;
    text-align: center;
    width: 2 * $gutter-size;

    a {
      color: $color-secondary;
      line-height: 2 * $gutter-size;
    }
  }
}