body {
  visibility: hidden;

  &.menu-opened {
    .menu {
      background-color: $color-main;
      display: block;
      position: fixed;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      top: $mobile-header-height;
      margin-top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      li {
        float: none;
        margin-bottom: 35px;
        margin-right: 0;
        text-align: center;
        width: 150px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .mobile-menu-button {
      .d4zed-navicon {
        width: 27px;

        .bar:first-child {
          transform: rotate(45deg);
          transform-origin: 2px 0px 0;
        }

        .bar:nth-child(2) {
          opacity: 0;
        }

        .bar:last-child {
          transform: rotate(-45deg);
          transform-origin: 2px 2px 0;
        }
      }
    } 
  }

  > header {
    background-color: $color-main;
    color: $color-secondary;
    height: $header-height;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;

    @include respond-to(small) {
      height: $mobile-header-height;
    }

    > .wrapper {
      display: table;
      height: 100%;
      margin: auto;
      max-width: $max-width;
      position: relative;
    }

    > .mobile-menu {
      display: none;
    }

    .logo, ul, button {
      position: absolute;
      top: 50%;
      margin-top: -$gutter-size/2;
    }

    .logo {
      color: $color-secondary;
      height: 35px;
      left: 0;
      width: 175px;
    }

    .mobile-menu-button {
      display: none;
      position: absolute;
      font-size: 30px;
      width: 30px;
      line-height: 35px;
      right: 0px;

      @include respond-to(small) {
        display: block;

        .d4zed-navicon {
          display: block;
          cursor: pointer;
          width: 30px;

          .bar {
            transition: all 0.3s ease-in-out;
            height: 2px;
            background-color: $color-secondary;
            margin: 6px 0;
          }
        }
      }
    }

    ul {
      display: table-cell;
      line-height: 35px;
      list-style-type: none;
      margin: 0;
      margin-top: -17px;
      vertical-align: middle;

      > li {
        float: left;
      }

      &.menu {
        position: absolute;
        left: calc(50% - 35px/2);
        float: left;
        font-weight: 700;

        @include respond-to(small) {
          font-size: 16px;
        }

        > li {
          margin-right: 70px;

          @include respond-to(extratablet) {
            margin-right: 35px;
          }
        }

        a:hover {
          border-bottom: 2px solid $color-secondary;
        }
      }

      &.social {
        position: absolute;
        right: 0;
        font-size: 16px;

        > li {
          margin-left: 20px;
        }
      }

      @include respond-to(small) {
        display: none;
      }
    }

    a {
      color: $color-secondary;
      text-transform: uppercase;
    }
  }
}