html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: "aktiv-grotesk-std", "Helvetica Neue";
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  margin: 0;
}

a {
  text-decoration: none;

  i {
    @include custom-transition(opacity);
  }
}

button {
  background-color: transparent;
  border: none;
  color: $color-secondary;
  outline: 0;
}

a:hover {
  i {
    opacity: .5;
  }
}


$header-height: 3 * $gutter-size;
$mobile-header-height: 2 * $gutter-size;
$full-width: calc(100% - 4 * 35px + 4px);
$half-width: calc(50% - 35px/2 + 1px);
$mobile-full-width: calc(100% - 2 * 35px + 4px);


#main {
  background-image: image_url('bg.svg');
  background-size: $gutter-size;
  color: $color-secondary;
  margin-top: $header-height;
  width: 100%;

  @include respond-to(small) {
    margin-top: $mobile-header-height;
  }

  > .wrapper {
    width: $full-width;
    margin: auto;
    padding-top: 2 * $gutter-size - 2px;
    padding-bottom: 3 * $gutter-size;
    position: relative;

    @include respond-to(small) {
      width: $mobile-full-width;
      margin-left: $gutter-size - 2px;
    }
  }
}
