html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: "aktiv-grotesk-std", "Helvetica Neue";
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

$height-width: 3 * $gutter-size;
$full-width: calc(100% - 4 * 35px + 4px);
$half-width: calc(50% - 35px/2 + 1px);

body { 
  visibility: hidden;

  > header {
    background-color: $color-main;
    color: $color-secondary;
    height: $height-width;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;

    > .wrapper {
      display: table;
      height: 100%;
      margin: auto;
      width: $full-width;
      position: relative;
    }

    .logo, ul {
      position: absolute;
      top: 50%;
      margin-top: -$gutter-size/2;
    }

    .logo {
      color: $color-secondary;
      height: 35px;
      left: 0;
      width: 175px;
    }

    ul {
      display: table-cell;
      line-height: 35px;
      list-style-type: none;
      margin: 0;
      margin-top: -17px;
      vertical-align: middle;

      > li {
        float: left;
      }

      &.menu {
        position: absolute;
        left: calc(50% - 35px/2);
        float: left;
        font-weight: 700;

        > li {
          margin-right: 70px;
        }
      }

      &.social {
        position: absolute;
        right: 0;
        font-size: 16px;

        > li {
          margin-left: 20px;
        }
      }
    }

    a {
      color: $color-secondary;
      text-transform: uppercase;
    }
  }
}

#main {
  background-image: image_url('bg.svg');
  background-size: $gutter-size;
  color: $color-secondary;
  margin-top: $height-width;
  width: 100%;

  > .wrapper {
    width: $full-width;
    margin: auto;
    padding-top: 2 * $gutter-size - 2px;
    padding-bottom: 2 * $gutter-size - 2px;
    position: relative;
  }
}

section > header {
  background-color: $color-main;
  height: $gutter-size;
  line-height: $gutter-size;
  text-align: center;
  text-transform: uppercase;
  width: 4 * $gutter-size;

  position: absolute;
  top: -$gutter-size;
  left: $gutter-size;  
}

#about, #news, #contacts {
  background-color: $color-secondary;
  border: 2px solid $color-main;
  height: 5 * $gutter-size + 2px;
  float: left;
  margin-bottom: 3 * $gutter-size - 2px;
  padding: 0;
  position: relative;
  width: $half-width;

  > .wrapper {
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
  }

  p {
    color: $color-main;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    padding: $gutter-size;
  }

  button.expander {
    outline: 0;
    position: absolute;
    right: $gutter-size;
    bottom: -$gutter-size;

    background-color: $color-main;
    border: none;
    color: $color-secondary;
    line-height: $gutter-size;
    height: $gutter-size;
    width: $gutter-size;
  }
}

#about {
  margin-right: $gutter-size - 2px;

  p {
    padding-bottom: 0;
    visibility: hidden;

    &:first-child {
      visibility: visible;
    }
  }

  &.expanded {
    p {
      visibility: visible;
    }
  }
}

#contacts {
  height: 4 * $gutter-size + 2px;
  padding: $gutter-size;
}

#news {
  .container {
    position: absolute;
    height: 100%;
    width: 100000%;
  }

  article {
    color: $color-main;
    float: left;
    height: 100%;
    width: 16 * $gutter-size;

    > * {
      float: left;
    }

    .cover {
      background-size: cover;
      background-position: center;
      height: 100%;
      width: 5 * $gutter-size;
    }

    p {
      padding: $gutter-size;
      width: calc(100% - 5 * 35px);
    }
  }

  &.expanded {
    .cover {
      width: 100%;
    }
  }

  .info {
    background-color: $color-main;
    float: left;
    left: 6 * $gutter-size - 2;
    line-height: $gutter-size;
    height: $gutter-size;
    width: 5 * $gutter-size;

    position: absolute;
    top: 100%;

    > * {
      float: left;
    }

    .date {
      height: 100%;
      line-height: $gutter-size;
      text-align: center;
      width: 3 * $gutter-size;
    }

    button {
      background-color: transparent;
      border: none;
      color: $color-secondary;
      line-height: $gutter-size;
      height: 100%;
      outline: 0;
      width: $gutter-size;
    }
  }
}

#work {
  clear: both;
  position: relative;

  &:after {
    content: '';
    clear: both;
    display: block;
  }

  article {
    float: left;
    margin-top: $gutter-size - 2;
    position: relative;
    height: 8 * $gutter-size + 2;
    width: $half-width;

    &:first-of-type {
      height: 16 * $gutter-size + 2;
      margin-top: 0;
      width: 100%;
    }

    &:nth-of-type(2n) {
      margin-right: $gutter-size - 2;
    }

    .cover, .info, .bg, .gradient {
      border: 2px solid $color-main;
      position: absolute;

      top: 0;
      left: 0;
      bottom: 0;
      right: 0;    
    }

    .bg {
      opacity: 0.5;
    }

    .gradient {
      background: linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
      background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
    }

    .cover {
      background-size: cover;
      background-position: center;
    }

    .bg, .gradient {
      display: none;
    }

    .info {
      display: none;
      float: left;
      padding: 35px;

      header, th {
        font-weight: 700;
        text-transform: uppercase;
      }

      p {
        line-height: 1.5;
        margin-top: 3px;
        margin-bottom: 10px;
      }

      th, td {
        text-align: left;
        padding: 3px;
        padding-left: 0;
        padding-right: 10px;
      }

      .player {
        border: 2px solid $color-secondary;
        cursor: pointer;
        font-size: 12px;
        height: 34px;
        position: absolute;
        bottom: $gutter-size;
        text-transform: uppercase;
        width: 140px;

        i {
          font-size: 30px;
          height: 100%;
          padding-right: 18px;
        }

        span {
          line-height: 30px;
          position: relative;
          top: -10px;
        }
      }
    }

    iframe {
      display: none;
      width: 100%;
      height: 100%;
      z-index: 1;
    }

    &.playing {
      .cover {
        display: none;
      }

      &:hover {
        .info, .bg, .gradient {
          display: none;
        }
      }

      iframe {
        display: block;
      }
    }

    &:hover {
      .info, .bg, .gradient {
        display: block;
      }

      .cover {
        filter: grayscale(100%);
      }
    }
  }
}

footer {
  margin-top: 2 * $gutter-size - 2;
  height: 4 * $gutter-size;
  width: 100%;

  #contacts {
    color: $color-main;
    float: left;
    width: 24 * $gutter-size + 2;

    header {
      color: $color-secondary;
    }

    .column {
      float: left;
      font-size: 16px;
      line-height: 1.5;
      margin-right: $gutter-size;
      width: 7 * $gutter-size;

      &:last-child {
        margin-right: 0;
        width: 5 * $gutter-size;
      }
    }
  }

  .social {
    float: right;
  }

  .facebook,
  .twitter {
    background-color: $color-main;
    height: 2 * $gutter-size;
    float: left;
    font-size: 16px;
    margin-top: $gutter-size;
    margin-right: $gutter-size;
    text-align: center;
    width: 2 * $gutter-size;

    a {
      color: $color-secondary;
      line-height: 2 * $gutter-size;
    }
  }
}

