@charset "UTF-8";

@font-face {
  font-family: "d4zed";
  src:url("fonts/d4zed.eot");
  src:url("fonts/d4zed.eot?#iefix") format("embedded-opentype"),
    url("fonts/d4zed.woff") format("woff"),
    url("fonts/d4zed.ttf") format("truetype"),
    url("fonts/d4zed.svg#d4zed") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "d4zed" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="d4zed-icon-"]:before,
[class*=" d4zed-icon-"]:before {
  font-family: "d4zed" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.d4zed-icon-chevron-right:before {
  content: "a";
}
.d4zed-icon-chevron-left:before {
  content: "b";
}
.d4zed-icon-expand:before {
  content: "c";
}
.d4zed-icon-facebook:before {
  content: "d";
}
.d4zed-icon-play:before {
  content: "e";
}
.d4zed-icon-twitter:before {
  content: "f";
}
.d4zed-icon-navicon:before {
  content: "g";
}
.d4zed-icon-close:before {
  content: "h";
}
.d4zed-icon-menu-close:before {
  content: "i";
}
.d4zed-icon-link-standalone:before {
  content: "j";
}
.d4zed-icon-link:before {
  content: "k";
}
.d4zed-icon-play-standalone:before {
  content: "l";
}
