#work {
  clear: both;
  position: relative;

  &:after {
    content: '';
    clear: both;
    display: block;
  }

  article {
    float: left;
    margin-bottom: $gutter-size - 2;
    position: relative;

    .info, .bg, .gradient, .animation {
      border: 2px solid $color-main;
      position: absolute;

      top: 0;
      left: 0;
      bottom: 0;
      right: 0;    
    }

    .animation {
      z-index: 3;
    }

    .cover {
      border: 2px solid $color-main;
      position: absolute;

      height: 100%;
      width: 100%;
    }

    @include respond-to(tablet) {
      margin-bottom: 2 * $gutter-size - 2;
    }

    .animation {
      background-color: $color-main;
    }

    .spinner {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -5px;
      margin-left: -20px;
      width: 40px;
    }

    .spinner > div {
      width: 10px;
      height: 10px;
      background-color: $color-secondary;
      border-radius: 100%;
      display: inline-block;

      animation: bouncedelay 1.4s infinite ease-in-out;
      animation-fill-mode: both;
    }

    .bounce2 {
      animation-delay: -0.32s;
    }

    .bounce3 {
      animation-delay: -0.16s;
    }

    .bg {
      opacity: 0;
      opacity: 0;
      will-change: opacity;
      transition: opacity .25s;
    }

    .gradient {
      background: linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
      background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
    
      .cover-info {
        position: absolute;
        bottom: $gutter-size;
        left: $gutter-size;

        .brand, .name {
          display: block;
        }

        .brand {
          text-transform: uppercase;
        }

        .name {
          font-size: 22px;
        }
      }
    }

    &:hover {
      .cover-info {
        display: none;

        @include respond-to(tablet) {
          display: block;
        }
      }
    }

    .cover {
      background-size: cover;
      background-position: center;
    }

    .animation {
      display: none;
    }

    .info {
      display: none;
      float: left;
      padding: 35px;

      header, th {
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 3px;
      }

      > p {
        line-height: 1.5;
        margin-bottom: 10px;

        @include respond-to(first) {
          display: none;
        }
      }

      th, td {
        text-align: left;
        padding: 3px;
        padding-left: 0;
        padding-right: 10px;
      }

      .mobile {
        display: none;
      }

      @include respond-to(small) {
        height: 5 * $gutter-size;
      }

      @include respond-to(tablet) {
        border-top: none; 

        .mobile {
          display: block;

          h2 {
            text-transform: uppercase;
            font-size: 12px;
            margin: 0;
          }

          p {
            line-height: 1.5;
            margin-top: 1px;
            margin-bottom: 10px;
          }
        }

        .player, .link, .desktop {
          display: none;
        }
      }

      .player,
      .link {
        border: 2px solid $color-secondary;
        cursor: pointer;
        font-size: 12px;
        height: 34px;
        position: absolute;
        bottom: $gutter-size;
        text-transform: uppercase;
        width: 140px;

        a {
          color: $color-secondary;

          &:hover {
            i {
              opacity: 1;
            }
          }
        }

        i {
          font-size: 30px;
          height: 100%;
          padding-right: 18px;
        }

        span {
          line-height: 30px;
          position: relative;
          text-align: center;
          top: -10px;
        }
      }
    }

    iframe {
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: -10;
    }

    &.playing, &.loading {
      .cover, .player {
        display: none;
      }

      .mobile-player {
        display: none;
      }

      &:hover {
        .info, .bg, .gradient {
          display: none;
        }
      }

      iframe {
        z-index: 1;
      }

      .cover-info {
        display: none;
      }
    }

    &.playing {
      .animation {
        display: none;
      }
    }

    &.loading {
      .animation {
        display: block;
      }
    }

    &:hover,
    &.touched {
      .info {
        display: block;
      }

      .bg {
        opacity: 0.5;
      }

      @include respond-to(tablet) {
        .bg, .info {
          display: none;
        }
      }

      .cover {
        filter: grayscale(100%);

        @include respond-to(tablet) {
          filter: none;
        }
      }
    }
  }
}

@keyframes bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0.0);
  } 40% { 
    transform: scale(1.0);
  }
}